
<script type="text/javascript" src="/app.js"></script>
<script type="text/javascript" src="/login.js"></script>

    <h3> LOGIN </h3>
  <div align = "center">
    <form action="/login" method="post">
    <p>
    <input class ="login" type="text" name="user_name" placeholder="username" required></input>
    <input class ="login" type="password" name="password" placeholder="password" required></input>
  </p>
  <p>
    <input type="submit" class="ui-btn" id = "loginSubmit"></input>
  </p>
  </form>
  <p> <a href ="/register"> Register!</a></p>
  </div>
  <% if @message %>
  <p class ="message">
    <%=@message %>
  </p>
  <%end%>
