<h3> NOT AUTHORIZED </h3>

<p class = "message"> Sorry! You must be logged in to see this resource! </p>
<div align="center">
<a href = "/register"><button id = "register" class = "ui-btn">REGISTER</button></a>
<a href = "/login"><button id = "login" class = "ui-btn">LOGIN</button></a>
</div>
