
<script type="text/javascript" src="/app.js"></script>
<script type="text/javascript" src="/login.js"></script>
    <h3> REGISTER </h3>
  <div class ="login-items" align = "center">

    <form action="/register" method="post">
    <p>
    <input class ="login" type="text" name="user_name" placeholder="username" required></input>
    <input class ="login" type="text" name="user_email" placeholder="email" required></input>
    <input class ="login" type="password" name="password" value="" placeholder="password" required></input>
    </p>
    <p>
    <input type="submit" class="ui-btn" id = "loginSubmit" align-content="center"></input>
  </p>
    </form>
    <p> <a href ="/login"> Already signed up?</a></p>
  </div>
