@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url('http://fonts.googleapis.com/css?family=Pacifico');

body {
  font-family: "Lato", Helvetica, Arial;
  font-size: 16px;
  background-color: none;
}

html {
  background: url(background.png) no-repeat center center fixed;
  background-size: cover;
}


.message {
  font-family: "Lato", Helvetica, Arial;
  font-size: 16px;
  width: 13em;
  color: #2980B9;
  border: 1px solid #2980B9;
  box-shadow: 0 1px 0 #409ad5 inset, 0 -1px 0 #20638f inset;
  padding: 8px;

  border-radius: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

.container {
  margin-right: auto;
  margin-left: auto;
}


.title {
  font-family: 'Pacifico';
  font-weight: normal;
  font-size: 4em;
  text-align: center;
  line-height: 1.2;
  color: #2980B9;
  text-align: center;
  margin-bottom: 40px;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}



h3 {
  font-family: "Lato", Helvetica, Arial;
  font-size: 18px;
  width: 15em;
  background-color: #2980B9;
  color: white;
  box-shadow: 0 1px 0 #409ad5 inset, 0 -1px 0 #20638f inset;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  padding: 8px;
  border-radius: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.list-items {
  margin-left: auto;
  margin-right: auto;
  padding-left: 5em;
  width: 18em;
}

.user-login {
  position: absolute;
  top: 10px;
  right: 10px;
}

.list-edit-items {
  margin-left: 2em;
}

.space {
  font-size: 0.4em;
}

li {
  list-style: none;
  display: inline-block;
}

.welcomeDiv, .deleteDiv {
  display: none;
}

/*.the-lists {
  float: left;
  display: inline-block;
  width: 18em;
  margin: auto;

}*/


.text-center {
  padding: 0;
  margin: 0;
}


p {
  max-width: 18em;
  padding-bottom: 3px;
  font-size: 14px;
}






/*button-component styling*/

/*INPUTS*/
.login {
  width: 12em;
  font-size: 1em;
  margin: 0.6em;
  margin-left: 0;
}

.listinput {
  width: 12em;
  font-size: 0.9em;
  margin: 0.6em;
  margin-left: 0;
}

td {
  text-align: left;
}

.inputbox {
  display: none;
  font-size: 1em;
  margin : 0.6em;
  width : 8em;
}

.quantitybox {
  display: none;
  font-size: 1em;
  margin: 0.1em;
  width: 2em;
}

.inputboxADD {
  font-size: 1em;
  width : 7em;
}

.quantityboxADD {
  font-size: 1em;
  width: 1.8em;
}

.add-item {
  display: none;
}

.buttonForm {
  display: inline;
}

input[type="checkbox"] {
  margin-top: 2px;
  width: 1.8em;
  height: 1.8em;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid black;
}

p, span  {
  font-size: 1em;
}

.quantity {
  font-size 1em;
  font-weight: bolder;
  margin-right: 10px;
}

/*BUTTONS*/

.ui-btn, .ui-btn:active, .ui-btn:after {
  -webkit-border-radius: 24;
  -moz-border-radius: 24;
  border-radius: 24px;
  color: #2980b9;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  border: solid #2980b9 2px;
  text-decoration: none;
  background-color: white;
  text-transform: uppercase;
}

.ui-btn:hover {
  background-color: #2980b9;
  color: white;
}


.edit-btn, .check-btn, .check-btn-add, .delete-btn, .logout{
  background: none;
  background-repeat: no-repeat;
  border: none;
  box-shadow: none;
  width: 1.6em;
  height: 1.6em;
  margin-top: 3px;
}

.edit-btn {
  background-image: url('/img/editG.svg');
}

.edit-btn:hover {
  background-image: url('/img/editA.svg');
}

.check-btn {
  background-image: url('/img/checkG.svg');
  display: none;
}

.check-btn:hover {
  background-image: url('/img/checkA.svg');
  display: block;
}

.check-btn-add {
  background-image: url('/img/checkG.svg');

}

.check-btn-add:hover {
  background-image: url('/img/checkA.svg');
}

.delete-btn {
  background-image: url('/img/deleteG.svg');
}

.delete-btn:hover {
  background-image: url('/img/deleteA.svg');
}

.plus {
  display: none;
  font-weight: bolder;
}


.add-list {
  font-family: "Lato", Helvetica, Arial;
  font-size: 18px;
  width: 3em;
  background-color: #2980B9;
  color: white;
  box-shadow: 0 1px 0 #409ad5 inset, 0 -1px 0 #20638f inset;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  padding: 8px;
  border-radius: 15px;
  position: fixed;
  text-align: center;
  bottom: 5px;
  right: 5px;
}
.add-list:hover {
  width: 3em;
  background-color: white;
  color: #2980B9;

}

a:visited {
  color: inherit;
}


p > a {
  font-size: 12px;
}

@media (max-width: 600px) {
  .title {
    text-align: center;
    font-size: 3em;
  }
  .the-lists {
    margin-left: 10%;
  }
  .center {
    margin-left: 10%;
  }
